@media screen and (max-width:576px) {
  .kidZone {
    font-size: 24px !important;
  }
  .nav-logo-img {
    margin-top: 10px;
  }
  .res-end {
    flex-direction: column;
    padding-left: 60px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }
  .res-end button {
    margin-top: 10px;
  }
}